#app {
  height: 100vh;
  overflow: hidden;
}

.status-view {
  height: 405px;
  display: flex;
  flex-direction: row;
  transition: top $transition-duration ease-in;

  span {
    background-color: $primary-color;
  }

  .status-details {
    padding: 20px;
    background-color: $primary-color;
    text-align: center;
    color: white;
    z-index:100;

    h1 {
      margin-top: 40px;
      font-family: 'Mark Pro Bold';
      letter-spacing: 1.3px;
      font-size: 40px;
    }

    h2 {
      font-family: 'Mark Pro Book';
      letter-spacing: 0.5px;
      font-size: 25px;
      width: 396px;
      height: 44px;
    }

    h3 {
      height: 44px;
      margin: 4px 0 28px 0;
      font-family: 'Mark Pro Book';
      letter-spacing: 0.5px;
      font-size: 30px;
    }

    strong {
      height: 10px ;
      margin: 4px 0 28px 0;
      font-family: 'Mark Pro Book';
      letter-spacing: 0.5px;
      font-size: 10;
    }

    .action-buttons {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;

      &.multiple {
        button:last-child {
          margin-left: 40px;
        }
      }

      &.single {
        margin: 10px 0 0 0;
      }
    }
  }

  &.booked {
    span {
      background-color: $red;
    }
    .status-details {
      background-color: $red;
      margin-top: 50px;

      h1 {
        margin-top: 15px;
      }
    }
  }
}
