@import 'fonts';

// Colors
$blue: #17BFC5;
$white: #FFF;
$black: #1d2d35;
$red: #ac1e1c;

// Fonts
$mark-pro-regular: 'Mark Pro';

// Colors

// Settings
$primary-color: $black;
$font-color: $black;

// Fonts
$mark-pro-regular: 'Mark Pro';

$transition-duration: 0.4s;

* {
  cursor: none;
}

body {
  font-family: $mark-pro-regular;
  font-size: 16px;
  color: $black;
  background-color: $white;
  height: 480px;
  width: 800px;
  overflow: hidden;
}
h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-family: 'Mark Pro Medium';
  font-size: 3rem;
}

h3 {
  font-family: 'Mark Pro Light';
  font-size: 1.875rem;
  margin: 0 0 28px 0;
}

a {
  text-decoration: none;
  color: $primary-color;
}

.hidden {
  visibility: hidden;
}
